SECRET_KEY=
BAIDU_API_KEY=
BAIDU_SECRET_KEY=
BAIDU_DISH_TOP_NUM=10
BAIDU_DISH_FILTER_THRESHOLD=0.0
FATSECRET_CLIENT_KEY=
FATSECRET_CLIENT_SECRET=
DATABASE_URL=sqlite:////opt/fit-flow/shared/sql_app.db
